<!--Extends Base.HTML and initalizes crispy_forms-->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
<!--Form for entering in account-associated email in order to proceed with a password reset-->
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please Enter Your Account Email</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}